<ion-content class="ion-padding">
  <!--opening time -->
  <ion-card *ngIf="openingTimes" class="ion-padding infoContainer">
    <p class="title">Het park is open van:</p>
    <br />
    <p class="information">{{openingTimes}} tot {{closingTimes}}</p>
  </ion-card>

  <ion-card *ngIf="!openingTimes" class="ion-padding infoContainer">
    <p class="information">Vandaag zijn we gesloten.</p>
  </ion-card>
  <!-- weer-->
  <ion-card class="ion-padding infoContainer" *ngIf="temperature">
    <p class="title">Weersvoorspelling:</p>
    <p class="weatherInfo">
      <img src="{{weatherIcon}}" alt="weatherIcon" />
      {{temperature}} | {{weatherStatus}}
    </p>
  </ion-card>
  <!-- store info -->
  <div *ngIf="openingTimes">
    <p class="shopTitle">Shop overzicht:</p>

    <ion-card *ngFor="let shop of shopInfo" class="shopContainer">
      <div class="shopImgContainer">
        <img alt="Shop photo" src="{{shop.thumbnail}}" />
      </div>

      <div class="shopInfo">
        <ion-label class="shopTitle">{{shop.name}}</ion-label>
        <p class="shopTimes">
          {{shop.opening_times_start?.slice(0,5)}} tot
          {{shop.opening_times_end?.slice(0,5)}}
        </p>
      </div>
    </ion-card>
  </div>
</ion-content>
