<ion-content class="ion-padding">
  <!--opening time -->
  <ion-card  *ngIf="openingTimes" class="ion-padding infoContainer">
      <p class="title">Het park is open van:</p>
      <br>
      <p class="information">{{openingTimes}} tot {{closingTimes}}</p>
  </ion-card>

  <ion-card *ngIf="!openingTimes" class="ion-padding infoContainer">
      <p class="information">Vandaag zijn we gesloten</p>
  </ion-card>
  <!-- weer-->
  <ion-card class="ion-padding infoContainer" *ngIf="temperature"> 
    <p class="title">Weersvoorspelling:</p>
    <p class="weatherInfo">
      <img src="{{weatherIcon}}" alt="weatherIcon" />
      {{temperature}} | {{weatherStatus}}
    </p>
  </ion-card>
  <!-- store info -->
  <ion-card class="ion-padding infoContainer">
    <p class="title">Open winkels:</p>
    <!-- Name | Time -->
  </ion-card>
</ion-content>
