<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="locations">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Locaties</ion-label>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-placeholder"> </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="swap-horizontal"></ion-icon>
      <ion-label>Producten</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="count">
      <ion-badge slot="end">22</ion-badge>
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Telling</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-fab
    class="ion-fab-custom"
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>
