<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <!-- goes to home -->
      <ion-button [routerLink]="['/home']">
        <div class="button-container">
          <ion-icon name="home-outline"></ion-icon>
          <span class="button-label">Home</span>
        </div>
      </ion-button>
      <!-- goes to locations -->
      <ion-button [routerLink]="['/locaties']">
        <div class="button-container">
          <ion-icon name="storefront-outline"></ion-icon>
          <span class="button-label">Locaties</span>
        </div>
      </ion-button>
      <!-- action buttons -->
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <!-- product list -->
      <ion-button>
        <div class="button-container" [routerLink]="['/producten']">
          <ion-icon name="cube-outline"></ion-icon>
          <span class="button-label">Producten</span>
        </div>
      </ion-button>
      <!-- daily count -->
      <ion-button>
        <div class="button-container" [routerLink]="['/telling']">
          <div class="icon-container">
            <ion-icon name="clipboard-outline"></ion-icon>
            <ion-badge color="danger" class="badge">3</ion-badge>
          </div>
          <span class="button-label">Telling</span>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
