<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end">
      <!-- <ion-button color="primary" routerLink="/signup">
        Sign up
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="logo-placeholder">Attractiepark Toverland</h1>
      <p>Meld je aan met je account.</p>
    </div>

    <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">

      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Gebruikersnaam</ion-label>
          <ion-input formControlName="email" type="email" autocomplete="off"
            placeholder="Je gebruikersnaam"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top-small">
          <ion-label color="tertiary" position="stacked">Wachtwoord</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Je wachtwoord"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" type="submit" expand="block" color="primary">
        Aanmelden
      </ion-button>

      <!-- <ion-button color="primary" fill="clear" expand="block" class="ion-button-small ion-margin-top-medium" routerLink="/password-reset">
        Wachtwoord vergeten?
      </ion-button> -->
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} Attractiepark Toverland.</small>
      </ion-text>
    </div>

  </div>

</ion-content>