ion-title {
  font-size: 28px;
}

.menuHeader {
  ion-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

  }
  ion-item{
    width: 100%;
    margin: 10px
  }
  ion-button {
    margin-top: 20px;
    --background: #ff6562;
    --background-activated: #fa8d8c;
  }
}
