<ion-header id="main-content">
  <ion-toolbar>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menuHeader">  
    <div class="ion-padding">
  
      <ion-list-header class="ion-list-header-small">
        <ion-label>Personal</ion-label>
      </ion-list-header>
  
      <ion-list class="list-custom" lines="full">
        <ion-item>
          <ion-icon slot="start" color="medium" name="person"></ion-icon>
          <ion-label>
            <h3>Name:</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
      <hr class="hr-medium">
  
      <ion-list-header class="ion-list-header-small">
        <ion-label>Appearance</ion-label>
      </ion-list-header>
  
      <ion-list class="list-custom" lines="full">
        <ion-item detail="false">
          <ion-icon slot="start" color="medium" name="contrast"></ion-icon>
          <ion-label>
            <h3>Dark Mode</h3>
          </ion-label>
          <ion-toggle slot="end" (ionChange)="toggleChange($event)" ></ion-toggle>
        </ion-item>
      </ion-list>
  
      <hr class="hr-medium">
  

  
  
      <ion-list class="list-custom" lines="full">
        <ion-item button detail=false>
          <ion-icon slot="start" color="danger" name="log-out"></ion-icon>
          <ion-label color="danger">
            <h3>Sign out</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
    </div>

  </ion-content>
</ion-menu>
