<form [formGroup]="moveForm"  (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-select
      placeholder="Verplaatsing naar deze location"
      (ionChange)="locationChange($event)"
    >
      <ion-select-option
        *ngFor="let location of locationList; let index = index"
        [value]="location['id']"
        >{{ location["name"] }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <input type="number" [formControlName]="'count'" placeholder="Aantal" />
  </ion-item>

  <ion-item>
    <input type="text" placeholder="Opmerking" [formControlName]="'comment'" />
  </ion-item>
  <hr />

  <ion-button expand="block" type="submit" [disabled]="!moveForm.valid">
    Submit
  </ion-button>
</form>
