<form [formGroup]="moveForm"  (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-select
    [formControlName]="'location2'" 
      placeholder="Verplaatsing naar deze location"
      (ionChange)="locationChange($event)"
    >
      <ion-select-option
        *ngFor="let location of locationList; let index = index"
        [value]="location['id']"
        >{{ location["name"] }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <div class="ion-padding" *ngIf="moveForm.get('location2')?.invalid && moveForm.get('location2')?.touched">
    <p class="error-message">Locatie mag niet leeg zijn</p>
  </div>
  <ion-item>
    <input type="number" [formControlName]="'count'" placeholder="Aantal" />
  </ion-item>
  <div class="ion-padding" *ngIf="moveForm.get('count')?.invalid && moveForm.get('count')?.touched">
    <p class="error-message">Aantal mag niet leeg zijn</p>
  </div>
  <ion-item>
    <input type="text" placeholder="Opmerking" [formControlName]="'comment'" />
  </ion-item>
  <hr />

  <ion-button expand="block" type="submit" [disabled]="!moveForm.valid">
    Verwerken
  </ion-button>
</form>
