


ion-row{
    justify-content: center;
    ion-card{
        width: 100%;
    }
}

.scanButton{
    ion-icon{
        margin-right: 8px;
    }
    margin: 16px 0;
}

ion-item{
    width: 100%;
}

.dynamicForm{
    width: 100%;
}

.scannedImage{
    border-radius: 25px;
}

.itemInfo{
    width: 100%;
}