<ion-content class="ion-padding">
  <ion-grid>
    <ion-col>
      <!-- action select and location select -->
      <ion-row>
        <ion-card>
          <ion-list>
            <!-- action select -->
            <ion-item>
              <ion-select
                placeholder="Selecteer een actie"
                (ionChange)="onActionChange($event)"
                [(ngModel)]="selectedAction"
              >
                <div slot="label">Actie:</div>
                <ion-select-option value="add-count"
                  >Telling</ion-select-option
                >
                <ion-select-option value="add-delivery"
                  >Levering </ion-select-option
                >
                <ion-select-option value="add-fraction"
                  >Breuk</ion-select-option
                >
                <ion-select-option value="move-product"
                  >Verplaatsing</ion-select-option
                >
              </ion-select>
            </ion-item>
            <!-- Location select -->
            <ion-item>
              <ion-select
                placeholder="Selecteer een locatie"
                (ionChange)="onLocationChange($event)"
                [(ngModel)]="selectedLocation"
              >
                <div slot="label">
                  <ion-label>Locatie:</ion-label>
                </div>

                <ion-select-option
                  *ngFor="let location of locationList; let index = index"
                  [value]="location['id']"
                  >{{location['name']}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-row>
      <!-- scan button -->
      <ion-row>
        <ion-button (click)="cameraScan()" class="scanButton">
          <ion-icon name="camera-outline"></ion-icon>
          Scan Barcode met camera
        </ion-button>
      </ion-row>
      <!-- selected item -->
      <ion-card>
        <ion-row>
          <ion-item>
            <ion-label>
              <b> Barcode: </b>
            </ion-label>
            <ion-input
              type="text"
              [(ngModel)]="scannedCode"
              placeholder="Voer hier je barcode handmatig in"
              (keyup.enter)="getProductByBarcode(scannedCode)"
            ></ion-input>
          </ion-item>
          <div class="itemInfo" *ngIf="scannedProduct">
            <ion-item>
              <b>Naam: </b> {{ scannedProduct['description']}}</ion-item
            >
            <ion-item>
              <b>Product code: </b> {{ scannedProduct['code']}}</ion-item
            >
            <br />
            <img *ngIf="scannedProduct['image']"
              class="scannedImage ion-padding"
              src="https://portal.toverland.nl{{scannedProduct['image']}}"
              alt="product image"
            />
          </div>
        </ion-row>
      </ion-card>
      <!-- dynamic form -->
      <ion-row>
        <div
          class="dynamicForm"
          [ngSwitch]="selectedAction"
          *ngIf="scannedProduct"
        >
          <app-add-count
            *ngSwitchCase="'add-count'"
            (clearPageEvent)="clearPage()"
          ></app-add-count>
          <app-add-delivery
            *ngSwitchCase="'add-delivery'"
            (clearPageEvent)="clearPage()"
          ></app-add-delivery>
          <app-add-fraction
            *ngSwitchCase="'add-fraction'"
            (clearPageEvent)="clearPage()"
          ></app-add-fraction>
          <app-move-product
            *ngSwitchCase="'move-product'"
            (clearPageEvent)="clearPage()"
          ></app-move-product>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
