.product-photo {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 175px;
  img{
    border-radius: 25px;
  }
}

.loader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  ion-label {
    font-size: 24px;
  }
}

.searchContainer {
  background-color: white;
  z-index: 200;
  position: fixed;
}

.noProd {
  margin-top: 120px;
}

.first-card {
  margin-top: 120px;
}
