ion-title {
    font-size: 28px;
  }
  
  ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    ion-button {
      margin-right: 10px;
      width: auto;
      --border-radius: 50%;
      --background-activated: #a9b0ad;
    }
  
    ion-icon {
      color: black;
      font-size: 32px;
    }
  }
  
  ion-content::part(scroll) {
    padding-top: 0px;
  }