<form [formGroup]="fractionForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <input
        type="number"
        [formControlName]="'count'"
        placeholder="Enter count"
      />
    </ion-item>
    <div *ngIf="fractionForm.get('count')?.invalid && fractionForm.get('count')?.touched">
      <p class="error-message">Aantal mag niet leeg zijn</p>
    </div>
    <ion-item>
      <input type="text" placeholder="Comment" [formControlName]="'comment'" />
    </ion-item>
    <hr>
    <ion-button expand="block" type="submit" [disabled]="!fractionForm.valid">
      Submit
    </ion-button>
  </form>
  
  