<form [formGroup]="fractionForm">
    <ion-item>
      <ion-label position="stacked">Count</ion-label>
      <input
        type="number"
        [formControlName]="'count'"
        placeholder="Enter count"
      />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Comment</ion-label>
      <input type="text" placeholder="Comment" [formControlName]="'comment'" />
    </ion-item>
  
    <ion-button expand="block" type="submit" [disabled]="!fractionForm.valid">
      Submit
    </ion-button>
  </form>
  
  