<ion-content>
  <ion-list>
    <ion-item>
      <ion-select
        label="Selected action:"
        placeholder="action"
        interface="action-sheet"
      >
        <ion-select-option value="count">Telling</ion-select-option>
        <ion-select-option value="move">Verplaatsing</ion-select-option>
        <ion-select-option value="fracture">Breuk</ion-select-option>
        <ion-select-option value="delivery">Levering</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
